<footer class="section-footer">
    <div class="row">
      <div class="col">
        <h2>Лечение</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Кардиология</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ревматология</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Пульмонология</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Функциональная диагностика</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Терапия</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Сестринское дело</a>
            </li>
        </ul>
      </div>

      <div class="col">

        <h2>Пациенту</h2>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Первое посещение</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Анкета первичного пациента</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Необходимые документы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cardio">Прием кардиолога</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rheumatologist">Прием ревмотолога</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pulmonologist">Прием пульмонолога</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/therapist">Прием терапевта</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/how-is-the-admission">Как проходит прием ?</a>
            </li>
        </ul>
      </div>

      <div class="col">

        <h2>Клиника</h2>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/about">О клинике</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doctor">Врачи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Нормативные документы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Отзывы пациентов</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Контакты</a>
            </li>
        </ul>
      </div>
    </div>
</footer>
