<div class="row">
    <div class="nav_services">
        <ul class="nav nav-tabs">
            <li id = "cardio" class="nav-item">
                <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">Кардиология</a>
            </li>
            <li  id="rheumatology" class="nav-item">
                <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">Ревматология</a>
            </li>
            <li  id="pulmonology" class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">Пульмонология</a>
            </li>
            <li  id="functional_diagnostics" class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">Функциональная диагностика</a>
            </li>
            <li  id="therapy" class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">Терапия</a>
            </li>
        </ul>
    </div>
</div>