<nav class="nav_menu">
  <img src="pg_logo.png" alt="" class="logo">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Главная</a>
    </li>
    <li class="dropdown nav-item ">
      <a class="nav-link">Услуги</a>

        <ul class="nav dropdown-content">
          <li class="nav-item">
            <a class="nav-link" href="/cardio-services">Кардиология</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rheumatologist-services">Ревматология</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pulmonologist-services">Пульмонология</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Функциональная диагностика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Терапия</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Сестринское дело</a>
          </li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Контакты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/doctor">Врачи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">О клинике</a>
    </li>
  </ul>
   <button type="submit" class="button">Записаться на приём</button>
</nav>

