{{>preloader}}

<section class="section-about">
    <div class="container">
       <h3 class="header-about">Добро пожаловать в Normocard clinic</h3>

	   <div class="row">

		   <div class="col-sm">
			   <p class="text-about">
				<span class="header">Normocard clinic </span>  — кардиологическая клиника, направленная на диагностику нарушений сердечного ритма и проводимости.
				Наши врачи давно и успешно работают с пациентами, у которых болезни разной специфики и сложности.
				Секрет наших медицинских работников в профессионализме, человеческом сострадании, внимательности и желании помочь. Доктора не будут отчитывать пациента, а дадут совет и поддержат. Потому что соответствующее лечение начинается с хорошего отношения и грамотной консультации.
        		</p>

				<h3 class="header-about">Виды приёмов в клинике Normocard clinic</h3>
			   	<p class="text-about">
				<span class="header">Очный приём</span> — это личная встреча с врачом по записи. Этот этап необходим, если диагноз пока не поставлен. В клинике чистые кабинеты, новое оборудование и просторный холл, поэтому пациент не почувствует дискомфорта.
        		</p>

				<p class="text-about">
					<span class="header">Телеконсультация</span>  — это дистанционная консультация, на которую клиент подключается онлайн. Это подходит тем, у кого нет подходящий условий, чтобы приехать. И хотя врач не может сразу на телеконсультации поставить диагноз, он соберёт анамнез у первичного пациента и скорректирует терапию, если клиент до этого уже посещал доктора.
				</p>

				<p class="text-about">
					<span class="header">Телеконсультация</span>  — это дистанционная консультация, на которую клиент подключается онлайн. Это подходит тем, у кого нет подходящий условий, чтобы приехать. И хотя врач не может сразу на телеконсультации поставить диагноз, он соберёт анамнез у первичного пациента и скорректирует терапию, если клиент до этого уже посещал доктора.
				</p>

				<p class="text-about">
					Для удобства персонал клиники Normocard разработал и создал собственные модели медицинского оборудования. Узнать больше о них можно здесь: <a href="https://normocard.ru">https://normocard.ru .</a>
					Доверяйте только проверенным организациям. Клиника Normocard проходит государственные проверки, поэтому нормативные документы в открытом доступе.
				</p>
		   </div>
	   </div>
    </div>
</section>

{{>footer}}