{{>preloader}}

<section class="section-cardio-info">
	<div class="container">
        <h2 class="header-page-info">Приём кардиолога</h2>
        <div class="row">
            <div class="col-sm">
                <p class="text-page-info">
                    Сердечно-сосудистая система является жизненно важной в нашем организме. Часто кардиологические катастрофы развиваются внезапно, поэтому профильным направлением нашего медицинского центра стали диагностика и лечение сердечно-сосудистых заболеваний.

                </p>

                <h3 class="header-info">При каких симптомах и состояниях рекомендовано обратиться к кардиологу?</h3>
                    <ul class="text-page-info" >
                        <li>
                            Чувство сжатия, сдавления, жжения, дискомфорт в груди в момент физической 	активности и в состоянии покоя.
                        </li>
                        <li>
                            Боли в левой руке при физической активности, ощущение жжения. Одышка, ощущение нехватки воздуха.
                        </li>
                        <li>
                           «Перебои» в работе сердца, чувство «остановки» сердца, эпизоды учащенного сердцебиения.
                        </li>
                        <li>
                           Головокружения, темнота и круги перед глазами. Обмороки и предобморочные состояния.
                        </li>
                        <li>
                           Лабильное артериальное давление, повышение артериального давления 140/90 мм рт. ст. и более.
                        </li>
                        <li>
                           Головные боли после физической нагрузки, частые носовые кровотечения.
                        </li>
                        <li>
                           Нарушения сна и отёки нижних конечностей. Быстрая утомляемость, снижение работоспособности.
                        </li>
                    </ul>
                <h3 class="header-info">В клинике Normocard Clinic с готовностью помогут пациентам с уже установленными заболеваниями, таким как:</h3>
                    <ul class="text-page-info" >
                        <li>
                            Гипертоническая болезнь и симптоматические артериальные гипертонии.
                        </li>
                        <li>
                            Ишемическая болезнь сердца, перенесённый инфаркт миокарда и инсульт. Фибрилляция и трепетание предсердий, а также другие виды аритмий сердца.
                        </li>
                        <li>
                           Врождённые и приобретенные пороки сердца. Хроническая сердечная недостаточность и синдром слабости синусового узла.
                        </li>
                        <li>
                           Мультифокальный 	атеросклероз: атеросклероз сонных артерий, артерий нижних конечностей.
                        </li>
                        <li>
                           Дислипидемия, ожирение, избыточная масса тела, гиперурикемия.
                        </li>
                    </ul>
                    <span class="text-page-info">А также:</span>
                        <ul class="text-page-info">
                            <li>
                                После операций на сердце и сосудах.
                            </li>
                            <li>
                               После радиочастотной аблации аритмий и др.
                            </li>
                        </ul>
                <h3 class="header-info">Как проходит приём кардиолога:</h3>
                        <ul class="text-page-info">
                            <li>
                                Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов. Выполнение объективного осмотра пациента.
                            </li>
                            <li>
                                Аускультация сердца, лёгких и крупных сосудов организма.
                            </li>
                            <li>
                                Изучение характеристик пульса, измерения артериального давления.
                            </li>
                            <li>
                                Выполнение ЭКГ на приёме и интерпретация результатов.
                            </li>
                            <li>
                                Установка предварительного либо окончательного 	диагноза. Формирования дальнейшего плана обследования, лечения и телемедицинского наблюдения.
                            </li>
                            <li>
                                Информирование 	пациента о состоянии здоровья, диагнозе, 	необходимости выполнения диагностических процедур. Обсуждение лечения, его эффектов и возможных нежелательных реакций терапии.
                            </li>
                        </ul>
            </div>

        </div>
    </div>
</section>
{{>footer}}