{{>preloader}}

<section class="section-cardio-services-page">
    <div class="container">
        <div class="row">
            <div class="nav-cardio-services">
                <ul class="nav nav-tabs">
                    <li id = "cardio-services" class="nav-item">
                        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">Кардиология</a>
                    </li>
                    <li  id="rheumatology" class="nav-item">
                        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">Телемедицина</a>
                    </li>
                    <li  id="pulmonology" class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">Услуги</a>
                    </li>
                </ul>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div id="flush-collapseOne" class="col-sm collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичный прием врача-кардиолога</td>
                                <td>1300 р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Повторный прием врача-кардиолога</td>
                                <td>1100р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичный прием врача-кардиолога, к.м.н.</td>
                                <td>1500р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Повторный прием врача-кардиолога, к.м.н.</td>
                                <td>1200р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Перивичный прием кардиолога, д.м.н.</td>
                                <td>2000р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Повторный прием кардиолога, д.м.н</td>
                                <td>1800р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div  id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога (чат с врачом)</td>
                                <td>900р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога (видео-звонок)</td>
                                <td>1200р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога после первичного очного при ема (видео-звонок)</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога после первичного очного приема (чат)</td>
                                <td>1200р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное  теле-информирование врача-кардиолога (видео-звонок врачу), к.м.н.</td>
                                <td>1400р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога, к.м.н, после первичного очного приеме (видео-звонок)</td>
                                <td>1200р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога, к.м.н. после первичного очного приема (чат)</td>
                                <td>1000р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование, врача-кардиолога ,д.м.н. (чат)</td>
                                <td>1700р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога, д.м.н. (видео)</td>
                                <td>1900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-вонсультация врача-кардиолога, д.м.н. после очного прием (чат)</td>
                                <td>1600р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога, д.м.н. после очного приема (видео)</td>
                                <td>1400р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога (интерпретация анализов и результатов исследований, чат с врачом)</td>
                                <td>900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога (интерпретация анализов и результатов обследований, чат с врачом), к.м.н.</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div  id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                     <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Прием врача-кардиолога+регистрация и расшифровка ЭКГ</td>
                                <td>1500р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Прием врача-кардиолога+регистрация и расшифровка ЭКГ, к.м.н.</td>
                                <td>1700р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное ведение пациента врачом-кардиологом с помощью использования телемедицинских технологий, ПАКЕТ № 1 (ведение пациента в течение трех месяцев, включает: один очный прием, три видео-консультации, четыре подключения пациента в чат)</td>
                                <td>6800р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное ведение пациента врачом-кардиологом с помощью использования телемедицинских технологий, ПАКЕТ № 2 (ведение пациента в течение 6 ти месяцев, включает: 2 очных приема, 6 видео-консультаций, 8 чатов общения с врачом)</td>
                                <td>12900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное ведение пациента врачом-кардиологом с помощью использования телемедицинских технологий, ПАКЕТ № 3 (Ведение пациента в течение года, включает: 3 очных приема, 12 видео-консультаций, 16 чатов общения с врачом)</td>
                                <td>22890р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

            </div>
        </div>

        <div class="row">
            
            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-cardio-info">
	<div class="container">
        <h2 class="header-page-info">Приём кардиолога</h2>
        <div class="row">
            <div class="col-sm">
                <p class="text-page-info">
                    Сердечно-сосудистая система является жизненно важной в нашем организме. Часто кардиологические катастрофы развиваются внезапно, поэтому профильным направлением нашего медицинского центра стали диагностика и лечение сердечно-сосудистых заболеваний.

                </p>

                <h3 class="header-info">При каких симптомах и состояниях рекомендовано обратиться к кардиологу?</h3>
                    <ul class="text-page-info" >
                        <li>
                            Чувство сжатия, сдавления, жжения, дискомфорт в груди в момент физической 	активности и в состоянии покоя.
                        </li>
                        <li>
                            Боли в левой руке при физической активности, ощущение жжения. Одышка, ощущение нехватки воздуха.
                        </li>
                        <li>
                           «Перебои» в работе сердца, чувство «остановки» сердца, эпизоды учащенного сердцебиения.
                        </li>
                        <li>
                           Головокружения, темнота и круги перед глазами. Обмороки и предобморочные состояния.
                        </li>
                        <li>
                           Лабильное артериальное давление, повышение артериального давления 140/90 мм рт. ст. и более.
                        </li>
                        <li>
                           Головные боли после физической нагрузки, частые носовые кровотечения.
                        </li>
                        <li>
                           Нарушения сна и отёки нижних конечностей. Быстрая утомляемость, снижение работоспособности.
                        </li>
                    </ul>
                <h3 class="header-info">В клинике Normocard Clinic с готовностью помогут пациентам с уже установленными заболеваниями, таким как:</h3>
                    <ul class="text-page-info" >
                        <li>
                            Гипертоническая болезнь и симптоматические артериальные гипертонии.
                        </li>
                        <li>
                            Ишемическая болезнь сердца, перенесённый инфаркт миокарда и инсульт. Фибрилляция и трепетание предсердий, а также другие виды аритмий сердца.
                        </li>
                        <li>
                           Врождённые и приобретенные пороки сердца. Хроническая сердечная недостаточность и синдром слабости синусового узла.
                        </li>
                        <li>
                           Мультифокальный 	атеросклероз: атеросклероз сонных артерий, артерий нижних конечностей.
                        </li>
                        <li>
                           Дислипидемия, ожирение, избыточная масса тела, гиперурикемия.
                        </li>
                    </ul>
                    <span class="text-page-info">А также:</span>
                        <ul class="text-page-info">
                            <li>
                                После операций на сердце и сосудах.
                            </li>
                            <li>
                               После радиочастотной аблации аритмий и др.
                            </li>
                        </ul>
                <h3 class="header-info">Как проходит приём кардиолога:</h3>
                        <ul class="text-page-info">
                            <li>
                                Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов. Выполнение объективного осмотра пациента.
                            </li>
                            <li>
                                Аускультация сердца, лёгких и крупных сосудов организма.
                            </li>
                            <li>
                                Изучение характеристик пульса, измерения артериального давления.
                            </li>
                            <li>
                                Выполнение ЭКГ на приёме и интерпретация результатов.
                            </li>
                            <li>
                                Установка предварительного либо окончательного 	диагноза. Формирования дальнейшего плана обследования, лечения и телемедицинского наблюдения.
                            </li>
                            <li>
                                Информирование 	пациента о состоянии здоровья, диагнозе, 	необходимости выполнения диагностических процедур. Обсуждение лечения, его эффектов и возможных нежелательных реакций терапии.
                            </li>
                        </ul>
            </div>

        </div>
    </div>
</section>
{{>footer}}