
{{>preloader}}

<section class="section-contact">

    <div class="container">
		<h2>Контакты</h2>
        <p class="contact-text">Хотите у нас что-то уточнить? С удовольствием вам ответим, но только в рабочее время:</p>
		<div class="row">
			<div class="col-sm position">
				<h3 class="text-header">Позвоните нам</h3>
				<p class="text-contact">Телефон:************</p>
				<h3 class="text-header">Напишите нам</h3>
				<p class="text-contact">E-mail:************</p>
				<h3 class="text-header">Посетите нас</h3>
				<p class="text-contact">Адрес: г.Кемерово, ул. Гагарина, 49</p>
			</div>

			<div class="col-sm">
				<p class="time-work">Часы работы.<br> Пн-Пт: с 8:00 до 20:00</p>
				<div class="map-home">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9ac4d11d40375373f5884cb62b51f38a2f19dee48333b7963ed352351f61fe1a&amp;source=constructor" width="700" height="400" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

{{>footer}}