
{{>preloader}}
<section class="section-doctor">
    <div class="container">
		<p class="text-doctor">Познакомьтесь с нашими врачами заранее, чтобы спокойно выбрать своего специалиста.</p>
		<h2 class="text-doctor">Узнайте о деятельности и уровне профессионализма наших специалистов.</h2>
		<div class="row">

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="/solobueva-anna-andreeva">
						<div class="property-image-glav-vrach">
							<div class="property-image-title">
							</div>
						</div></a>
						<div class="property-description-glav-vrach">
						<h5>Солобуева Анна Андреевна</h5>
						<p>Главный врач Медицинского центра</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="/bairacova-julia">
						<div class="property-image-julia-bairacova">
							<img src="/julbairakova.png" alt="">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-julia-bairacova">
						<h5>Байракова Юлия Вячеславовна</h5>
						<p>Ревматолог, кардиолог, к. м. н.</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="/svincova-elena-vladimirovna">
						<div class="property-image-sev">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-sev">
						<h5>Свинцова Елена Владимировна</h5>
						<p>Врач функциональной диагностики</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="/zvereva-tatiana-nicolaevna">
						<div class="property-image-ztn">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-ztn">
						<h5>Зверева Татьяна Николаевна</h5>
						<p>Врач-кардиолог</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="#">
						<div class="property-image-ssa">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-ssa">
						<h5>Cмакотина Светлана Анатольевна</h5>
						<p>Врач-терапевт</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="#">
						<div class="property-image-shav">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-shav">
						<h5>Шарова Ася Владимировна</h5>
						<p>Медсестра процедурного кабинета</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm card-bottom">
				<div class="center">
					<div class="property-card">
						<a href="/lebedeva-natalya-borisovna">
						<div class="property-image-lnb">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-lnb">
						<h5>Лебедева Наталия Борисовна</h5>
						<p>Кардиолог</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>


			<div class="col-sm pb-3">
				<div class="center">
					<div class="property-card">
						<a href="/rijenkova-svetlana-vladimirovna">
						<div class="property-image-rsn">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-rsn">
						<h5>Рыженкова Светлана Николаевна</h5>
						<p>Врач функциональной диагностики</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm pb-3">
				<div class="center">
					<div class="property-card">
						<a href="/homykova-tatiana-alecsandrova">
						<div class="property-image-hta">
							<div class="property-image-title">
							<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
							</div>
						</div></a>
						<div class="property-description-hta">
						<h5>Хомякова Татьяна Александровна</h5>
						<p>Врач функциональной диагностики, к.м.н.</p>
						</div>
						<a href="#">
						<div class="property-social-icons">
							<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
						</div>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


{{>footer}}