{{>preloader}}
<section class="section">
    <div class="container">
        <div class="row">
            <h2>Зверева Татьяна Николаевна  <br>кардиолог, терапевт, функциональный диагност. Кандидат медицинских наук, доцент кафедры кардиологии и сердечно-сосудистой хирургии КемГМУ. Руководитель научно-исследовательского отдела НИИ КПССЗ СО РАМН. </h2>
            <div class="col-sm position-button">
                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Сведение о ВУЗе
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                       2006 год – окончила ГОУ ВПО «Кемеровская государственная медицинская академия» по специальности «лечебное дело».

                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Сведения об интернатуре/ординатуре
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        2006-2008 гг – клиническая ординатура по терапии ГОУ ВПО «Кемеровская государственная медицинская академия» по специальности.
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Профессиональная переподготовка
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <p>2010 год – профессиональная переподготовка по специальности кардиология. ГОУ ВПО «Кемеровская государственная медицинская академия».</p>
                        <p>2019 год – повышение квалификации по кардиологии. ФГБОУ ВО «КемГМУ» МЗ России.</p>
                        <p>2015 год - профессиональная переподготовка по функциональной  диагностике ГБОУ ВПО «КемГМУ» МЗ России.</p>
                        <p>2018 год – повышение квалификации по специальности терапия ФГБОУ ВО «КемГМУ» МЗ России.</p>
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Профессиональная деятельность
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Ведущий специалист по легочной гипертензии, реабилитации пациентов после операций на сердце.</p>
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Достижения
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <p>Защита кандидатской диссертации на тему «ПОКАЗАТЕЛИ СУБКЛИНИЧЕСКОГО ВОСПАЛЕНИЯ У БОЛЬНЫХ АРТЕРИАЛЬНОЙ ГИПЕРТЕНЗИЕЙ И НАРУШЕНИЯМИ УГЛЕВОДНОГО ОБМЕНА»  в 2011 году.</p>
                        <p>Имеет 27 статей в журналах, лицензируемых ВАК, одна из них опубликована в зарубежном журнале.  В том числе 7 учебных издания и 12 научных трудов, используемых в образовательном процессе.</p>
                        <p>Татьяна Николаевна имеет стаж научной и педагогической деятельности почти 10 лет, в том числе стаж педагогической работы в образовательных организациях высшего образования и организациях дополнительного профессионального образования.</p>
                        <p>Читает лекционные курсы по дисциплинам «Кардиология», «Функциональная диагностика» и «Сердечно-сосудистая хирургия». Ведет практические занятия по дисциплинам «Кардиология и сердечно-сосудистая хирургия», «Функциональная диагностика» и в рамках симмуляцонного курса «Кардиология и сердечно-сосудистая хирургия».</p>
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                        Область научных интересов
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        <p>Реабилитация пациентов после операций на сердце:  КШ, ЧКВ, пороки. И ведением пациентов с легочной гипертензией.</p>
                        <p>Татьяна Николаевна специализируется на профилактике заболеваний сердечно-сосудистой системы и реабилитации после перенесенных сердечно-сосудистых событий и операций на сердце.</p>
                        <p>Готова помочь пациентам которые хотят лечится и заинтересованы в своем здоровье.</p>
                    </div>
                    </div>
            </div>

            <div class="col-sm">
                <img src="Photo_0064.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button">Записаться ко врачу</button>
            </div>

        </div>
    </div>
</section>


<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Отзывы</h3>
                    <p class="reviews">Никто ещё не оставлял отзывов об этом враче.</p>
                </div>

                <div class="col-sm">
					<button type="submit" class="reviews-button">Оставить отзыв</button>
                </div>

            </div>
        </div>
</section>

{{>footer}}