{{>preloader}}
<section class="section-text">
    <div class="container">
        <h2 class="header-how-is-the-admission-page-info">Подготовка к приёму</h2>
        <div class="row">
            <div class="col-sm">
                <h3 class="header-how-is-the-admission-info">Первое посещение</h3>
                <p class="text-how-is-the-admission-info">
                    Если вы впервые записались на приём в нашу клинику, <br>
					посмотрите в разделе «Контакты», как доехать до медцентра.
                </p>
                <h3 class="header-how-is-the-admission-info">Что нужно для приёма ?</h3>
                <p class="text-how-is-the-admission-info">
                    При первом посещении понадобится паспорт, чтобы заключить договор об оказании платных медицинских услуг. <br>
                        Если имеются на руках анализы и исследования, возьмите их с собой, чтобы показать врачу.
                </p>
                <p class="text-how-is-the-admission-info">
                    Желательно не принимать пищу не менее 4 часов до приёма.
                </p>
                <h3 class="header-how-is-the-admission-info">Антиковидная профилактика</h3>
                <p class="text-how-is-the-admission-info">
                    Ношение маски в клинике обязательно. Это требование утверждено правительством Российской Федерации.
                </p>
                <h3 class="header-how-is-the-admission-info">ДМС и ОМС</h3>
                <p class="text-how-is-the-admission-info">
                    Условия для ДМС и ОМС разрабатываются, поэтому услуги оплачиваются лично пациентами. <br>
                    В ближайших планах открыть программы ДМС и ОМС.
                </p>
            </div>
        </div>
    </div>
    
</section>
{{>footer}}