{{>preloader}}
<section class="section">
    <div class="container">
        <div class="row">
            <h2>Лебедева Наталья Борисовна<br> кардиолог. <br> Доктор медицинских наук,
            доцент. <br> Старший преподаватель научно-образовательного отдела, старший научный сотрудник лаборатории реабилитации отдела клинической кардиологии НИИ КПССЗ СО РАМН. Научный и клинический куратор ГБУЗ КО "КОККД им. акад. Л.С. Барбараша". <br>Стаж — 25 лет ( с ординатурой) </h2>
            <div class="col-sm position-button">
                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Сведение о ВУЗе
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                        Закончила КемГМА с красным дипломом.
                        </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Область интересов
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                       <p>Острые и хронические формы ИБС, профилактика внезапной сердечной смерти, хроническая сердечная недостаточность, нарушения ритма сердца. </p>
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Достижения
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <p>84 статьи ( все  лицензируемые ВАК), из низ 2  зарубежных, 4 монографии, 10 методических рекомендаций. Выступления на Всероссийских и Зарубежных конференциях( 6 в течение 2021 года).</p>
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Тема кандидатской  диссертации
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>ИНФАРКТ МИОКАРДА: КЛИНИЧЕСКАЯ И ПРОГНОСТИЧЕСКАЯ ЗНАЧИМОСТЬ ПСИХОФИЗИОЛОГИЧЕСКИХ ХАРАКТЕРИСТИК И ВОЗМОЖНОСТЬ ИХ КОРРЕКЦИИ. Защита 2002 года.</p>
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Тема докторской диссертации
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <p>КЛИНИЧЕСКИЕ, ПРОВОСПАЛИТЕЛЬНЫЕ И ГЕМОРЕОЛОГИЧЕСКИЕ КОРРЕЛЯТЫ ПСИХОФИЗИОЛОГИЧЕСКИХ ХАРАКТЕРИСТИК У БОЛЬНЫХ ИНФАРКТОМ МИОКАРДА. ВОЗРАСТНЫЕ И ГЕНДЕРНЫЕ ОСОБЕННОСТИ. Защита 2009 год.</p>
                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="lnb.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button">Записаться ко врачу</button>
            </div>

        </div>
    </div>
</section>


<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Отзывы</h3>
                    <p class="reviews">Никто ещё не оставлял отзывов об этом враче.</p>
                </div>

                <div class="col-sm">
					<button type="submit" class="reviews-button">Оставить отзыв</button>
                </div>

            </div>
        </div>
</section>

{{>footer}}