{{>preloader}}

<section class="section-cardio-services-page">
    <div class="container">
        <div class="row">
            <div class="nav-cardio-services">
                <ul class="nav nav-tabs">
                    <li id = "cardio-services" class="nav-item">
                        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">Пульмонология</a>
                    </li>
                    <li  id="rheumatology" class="nav-item">
                        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">Телемедицина</a>
                    </li>
                    <li  id="pulmonology" class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">Услуги</a>
                    </li>
                </ul>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div id="flush-collapseOne" class="col-sm collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичный очный прием пульмонолога</td>
                                <td>1300р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Повторный очный прием пульмонолога</td>
                                <td>1100р</td>
                                <td>@fat</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div  id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-пульмонолога (интерпритация анализов, чат с врачом)</td>
                                <td>900р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное  теле-информирование врача-пульмонолога (видео-звонок врачу)</td>
                                <td>1100р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-пульмонолога (чат с врачом)</td>
                                <td>900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-пульмонолога  после очного приема (видео-видео-звонок)</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-вонсультация врача-пульмонолога после очных приемов (чат)</td>
                                <td>900р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div  id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                     <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Исследование неспровоцированных дыхательных объемов и потоков с использованием пикфлоуметра</td>
                                <td>1300р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Исследование спровоцированных дыхательных объемов (спирометрия)</td>
                                <td>700р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Прокат небулайзера (сутки)</td>
                                <td>250р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное ведение пациента врачом-пульмонологом с помощью использования телемедицинских технологий, ПАКЕТ № 1(ведение пациента в течение 3х месяцев, включает: один очный прием, 3 видео-консультации, 4 чата общения с врачом)</td>
                                <td>6800р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное ведение пациента врачом-пульмонологом с помощью использования телемедицинских технологий, ПАКЕТ № 2 (ведение пациента в течение 6 ти месяцев, включает: 2 очных приема, 6 видео-консультаций, 8 чатов общения с врачом)</td>
                                <td>12900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное ведение пациента врачом-пульмонологом с помощью использования телемедицинских технологий, ПАКЕТ № 3 (Ведение пациента в течение года, включает: 3 очных приема, 12 видео-консультаций, 16 чатов общения с врачом)</td>
                                <td>22890р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-pulmonologist-info">
    <div class="container">
        <h2 class="header-pulmonologist-page-info">Приём пульмонолога</h2>
        <div class="row">
            <div class="col-sm">
                <p class="text-pulmonologist-info">
                    Более 300 млн. пациентов во всем мире имеют респираторные симптомы (кашель, одышка, хрипы в грудной клетке).
                    Большинство пациентов хорошо отвечает на традиционную терапию, достигая контроля заболевания.
                </p>
                <p class="text-pulmonologist-info">
                    Однако часть больных имеет трудные для лечения факторы (генетические, ожирение, курение,
                     с поздним началом заболевание) и может быть рефрактерна к традиционной терапии.
                    У них отмечается высокая частота обострений и обращений за неотложной медицинской помощью.
                     Поэтому всегда лучше заранее обратиться к врачу и быть уверенным в эффективности лечения.
                </p>

                <h3 class="header-pulmonologist-page-info">При каких симптомах и состояниях рекомендовано обратиться к пульмонологу?</h3>
                    <ul class="text-pulmonologist-info">
                        <li>
                            Кашель, ком в горле, чихание.
                        </li>
                        <li>
                            Заложенность носа и боли в грудной клетке.
                        </li>
                        <li>
                            Одышка или нехватка воздуха в покое или при ходьбе.
                        </li>
                        <li>
                            Хрипы и свисты в грудной клетке.
                        </li>
                        <li>
                            Утомляемость от физических нагрузок.
                        </li>
                    </ul>

                <h3 class="header-pulmonologist-page-info">В Normocard Clinic с готовностью помогут пациентам с уже установленными заболеваниями, такими как:</h3>
                    <ul class="text-pulmonologist-info">
                        <li>
                            Бронхит и бронхиальная астма.
                        </li>
                        <li>
                            Хроническая обструктивная болезнь лёгких (ХОБЛ).
                        </li>
                        <li>
                            Интерстициальные заболевания лёгких и эмфизема лёгких.
                        </li>
                        <li>
                            Плеврит и храп.
                        </li>
                    </ul>
                    <span class="text-pulmonologist-info">А также:</span>
                    <ul class="text-pulmonologist-info">
                        <li>
                            После коронавирусной инфекции.
                        </li>
                        <li>
                            С частыми респираторными заболеваниями.
                        </li>
                        <li>
                            С аллергическими 	реакциями.
                        </li>
                    </ul>
                <h3 class="header-pulmonologist-page-info">Как проходит приём пульмонолога:</h3>
                    <ul class="text-pulmonologist-info">
                        <li>
                            Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов. Объективный осмотр пациента. Оценка формы грудной клетки.
                        </li>
                        <li>
                            Прослушивание фазы вдоха и выдоха, проведение 	функциональных проб (с физической 	нагрузкой, при смене 	положения тела).
                        </li>
                        <li>
                            Изучение насыщения кислорода, характеристик пульса, измерения артериального давления.
                        </li>
                        <li>
                            Установка предварительного либо окончательного 	диагноза, формирования дальнейшего плана обследования, лечения и 	телемедицинского наблюдения.
                        </li>
                        <li>
                            Информирование пациента о состоянии здоровья, диагнозе, 	необходимости выполнения диагностических процедур. Обсуждение лечения, его эффектов и возможных нежелательных реакций терапии.
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>
{{>footer}}