{{>preloader}}

<section class="section-rheumatologist-info">
    <div class="container">
        <h2 class="header-rheumatologist-page-info">Приём ревматолога</h2>
        <div class="row">
            <div class="col-sm">
                <p class="text-rheumatologist-info">
                    «Иммуновоспалительные ревматические заболевания — большая группа патологических состояний, в основе которых лежит нарушение иммунологический толерантности к собственным тканям, ведущее к воспалению и необратимым органным поражениям» (Е. Л. Насонов, академик РАН). 
                    Поэтому в поле зрения специалиста попадают не только суставы, но и внутренние органы, сосуды, кожа, система крови.
                </p>

                <h3 class="header-rheumatologist-info">При каких симптомах и состояниях рекомендовано обратиться к ревматологу?</h3>
                    <ul class="text-rheumatologist-info">
                        <li>
                            Боли в суставах после пробуждения либо пребывания в состоянии покоя. Боли в суставах после физических нагрузок.
                        </li>
                        <li>
                            Припухание 	суставов, локальное повышение температуры над суставами и покраснения суставов.
                        </li>
                        <li>
                            Утренняя скованность в суставах и позвоночнике. Боли в спине после пробуждения или длительного пребывания в состоянии покоя.
                        </li>
                        <li>
                            Повышение температуры тела, повышенная утомляемость, слабость, снижение работоспособности.
                        </li>
                        <li>
                            Высыпания на коже в виде болезненных узлов, яркие 	геморрагические высыпания на нижних конечностях.
                        </li>
                        <li>
                            Похолодание, побледнение либо посинение пальцев рук или ног с чёткой границей при выходе на улицу в прохладное время года.
                        </li>
                        <li>
                            Сухость глаз и полости рта, уменьшение выделения слезы и слюны. Поперхивания, нарушения сглатывания твердой пищи, необходимость постоянно запивать.
                        </li>
                        <li>
                            Уплотнения 	кожи рук, лица. Наличия рубчиков и язвочек на кончиках пальцев.
                        </li>
                    </ul>

                <h3 class="header-rheumatologist-info">В Normocard Clinic с готовностью помогут пациентам с уже установленными заболеваниями, такими как:</h3>
                    <ul class="text-rheumatologist-info">
                        <li>
                            Ревматоидный и псориатический артрит.
                        </li>
                        <li>
                            Аксиальный 	спондилоартрит (болезнь Бехтерева)
                        </li>
                        <li>
                            Полимиозиты и реактивные артриты.
                        </li>
                        <li>
                            Остеоартриты и системный остеопороз.
                        </li>
                        <li>
                            Системная красная волчанка.
                        </li>
                        <li>
                            Системная склеродермия.
                        </li>
                        <li>
                            Системные васкулиты и др.
                        </li>
                    </ul>

                <h3 class="header-rheumatologist-info">Как проходит приём ревматолога:</h3>
                    <ul class="text-rheumatologist-info">
                        <li>
                            Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов.
                        </li>
                        <li>
                            Выполнение объективного осмотра пациента. Изучение характеристик пульса, измерения артериального давления.
                        </li>
                        <li>
                            Установка предварительного либо окончательного 	диагноза, формирования дальнейшего плана обследования, лечения и телемедицинского наблюдения.
                        </li>
                        <li>
                            Информирование 	пациента о состоянии здоровья, диагнозе, необходимости выполнения диагностических процедур. Обсуждение лечения, его эффектов и возможных нежелательных реакций терапии.
                        </li>
                    </ul>

            </div>
        </div>
    </div>
</section>
{{>footer}}