{{>preloader}}

<section class="section-cardio-services-page">
    <div class="container">
        <div class="row">
            <div class="nav-cardio-services">
                <ul class="nav nav-tabs">
                    <li id = "cardio-services" class="nav-item">
                        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">Ревматология</a>
                    </li>
                    <li  id="rheumatology" class="nav-item">
                        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">Телемедицина</a>
                    </li>
                    <li  id="pulmonology" class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">Услуги</a>
                    </li>
                </ul>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div id="flush-collapseOne" class="col-sm collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичный прием врача-ревматолога, д.м.н.</td>
                                <td>2000р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Повторный прием врача-ревматолога, д.м.н</td>
                                <td>1800р</td>
                                <td>@fat</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div  id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное  теле-информирование врача-ревматолога (видео-звонок врачу), д.м.н.</td>
                                <td>1800р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-ревматолога (чат с врачом), д.м.н.</td>
                                <td>1600р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-ревматолога, д.м.н. после очного приема (чат с врачом)</td>
                                <td>1600р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-ревматолога, д.м.н., после очного приеме (видео-звонок)</td>
                                <td>1800р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-ревматолога (чат)</td>
                                <td>900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-ревматолога (видео)</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога, к.м.н. после первичного очного приема (чат)</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация ревматолога после очного приема (чат)</td>
                                <td>900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация ревматолога после очного приема (видео-звонок)</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-вонсультация врача-кардиолога, д.м.н. после очного прием (чат)</td>
                                <td>1600р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Теле-консультация врача-кардиолога, д.м.н. после очного приема (видео)</td>
                                <td>1400р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога (интерпретация анализов и результатов исследований, чат с врачом)</td>
                                <td>900р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Первичное теле-информирование врача-кардиолога (интерпретация анализов и результатов обследований, чат с врачом), к.м.н.</td>
                                <td>1100р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div  id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                     <table class="table">
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное Комплексное ведение пациента врачом-ревматологом с помощью использования телемедицинских технологий, ПАКЕТ № 1 ((ведение пациента в течение 3х месяцев, включает: один очный прием, 3 видео-консультации, 4 чата общения с врачом)</td>
                                <td>6800р</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное Комплексное ведение пациента врачом-ревматологом с помощью использования телемедицинских технологий, ПАКЕТ № 2(ведение пациента в течение 6 ти месяцев, включает: 2 очных приема, 6 видео-консультаций, 8 чатов общения с врачом)</td>
                                <td>12900р</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Комплексное Комплексное ведение пациента врачом-ревматологом с помощью использования телемедицинских технологий, ПАКЕТ № 3(Ведение пациента в течение года, включает: 3 очных приема, 12 видео-консультаций, 16 чатов общения с врачом)</td>
                                <td>22890р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Ирригация одного коленного сустава (промывание)</td>
                                <td>1000р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Лечение пяточных шпор методом внутрисуставного введения лекарственных препаратов</td>
                                <td>950р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Паравертебральная блокада (без учёта стоимости препарата)</td>
                                <td>750р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Блокада одного сустава мелкого сустава (кисти, стопы)</td>
                                <td>?</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Блокада среднего и крупного сустава (коленные, плечевые, голеностопные, локтевые)</td>
                                <td>?</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Внутрисуставное введение протезов синовиальной жидкости с учтом стоимости препарат</td>
                                <td>?</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Внутрисуставное введение протезов синовиальной жидкости (без учёта стоимости препарата)</td>
                                <td>800р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Лечение остеопороза (внутривенное вКомплексное ведение препаратов с противоостеопоротическим действием) под наблюдением врача (ризокластина) С учетом стоимости</td>
                                <td>?</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Лечение остеопороза (внутривенное вКомплексное ведение препаратов с противоостеопоротическим действием) под наблюдением врача (ризокластина) Без учета стоимости</td>
                                <td>950р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Медикаментозная блокада шейного отдела позвоночника (без учёта стоимости препарата)</td>
                                <td>860р</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>Пункция сустава (аспирация синовиальной жидкости)</td>
                                <td>750р</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm pb-3">
                <div class="center">
                    <div class="property-card">
                        <a href="#">
                        <div class="property-image">
                            <div class="property-image-title">
                            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                            </div>
                        </div></a>
                        <div class="property-description">
                        <h5> Card Title </h5>
                        <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                        <a href="#">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-rheumatologist-info">
    <div class="container">
        <h2 class="header-rheumatologist-page-info">Приём ревматолога</h2>
        <div class="row">
            <div class="col-sm">
                <p class="text-rheumatologist-info">
                    «Иммуновоспалительные ревматические заболевания — большая группа патологических состояний, в основе которых лежит нарушение иммунологический толерантности к собственным тканям, ведущее к воспалению и необратимым органным поражениям» (Е. Л. Насонов, академик РАН). 
                    Поэтому в поле зрения специалиста попадают не только суставы, но и внутренние органы, сосуды, кожа, система крови.
                </p>

                <h3 class="header-rheumatologist-info">При каких симптомах и состояниях рекомендовано обратиться к ревматологу?</h3>
                    <ul class="text-rheumatologist-info">
                        <li>
                            Боли в суставах после пробуждения либо пребывания в состоянии покоя. Боли в суставах после физических нагрузок.
                        </li>
                        <li>
                            Припухание 	суставов, локальное повышение температуры над суставами и покраснения суставов.
                        </li>
                        <li>
                            Утренняя скованность в суставах и позвоночнике. Боли в спине после пробуждения или длительного пребывания в состоянии покоя.
                        </li>
                        <li>
                            Повышение температуры тела, повышенная утомляемость, слабость, снижение работоспособности.
                        </li>
                        <li>
                            Высыпания на коже в виде болезненных узлов, яркие 	геморрагические высыпания на нижних конечностях.
                        </li>
                        <li>
                            Похолодание, побледнение либо посинение пальцев рук или ног с чёткой границей при выходе на улицу в прохладное время года.
                        </li>
                        <li>
                            Сухость глаз и полости рта, уменьшение выделения слезы и слюны. Поперхивания, нарушения сглатывания твердой пищи, необходимость постоянно запивать.
                        </li>
                        <li>
                            Уплотнения 	кожи рук, лица. Наличия рубчиков и язвочек на кончиках пальцев.
                        </li>
                    </ul>

                <h3 class="header-rheumatologist-info">В Normocard Clinic с готовностью помогут пациентам с уже установленными заболеваниями, такими как:</h3>
                    <ul class="text-rheumatologist-info">
                        <li>
                            Ревматоидный и псориатический артрит.
                        </li>
                        <li>
                            Аксиальный 	спондилоартрит (болезнь Бехтерева)
                        </li>
                        <li>
                            Полимиозиты и реактивные артриты.
                        </li>
                        <li>
                            Остеоартриты и системный остеопороз.
                        </li>
                        <li>
                            Системная красная волчанка.
                        </li>
                        <li>
                            Системная склеродермия.
                        </li>
                        <li>
                            Системные васкулиты и др.
                        </li>
                    </ul>

                <h3 class="header-rheumatologist-info">Как проходит приём ревматолога:</h3>
                    <ul class="text-rheumatologist-info">
                        <li>
                            Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов.
                        </li>
                        <li>
                            Выполнение объективного осмотра пациента. Изучение характеристик пульса, измерения артериального давления.
                        </li>
                        <li>
                            Установка предварительного либо окончательного 	диагноза, формирования дальнейшего плана обследования, лечения и телемедицинского наблюдения.
                        </li>
                        <li>
                            Информирование 	пациента о состоянии здоровья, диагнозе, необходимости выполнения диагностических процедур. Обсуждение лечения, его эффектов и возможных нежелательных реакций терапии.
                        </li>
                    </ul>

            </div>
        </div>
    </div>
</section>

{{>footer}}