{{>preloader}}
<section class="section">
    <div class="container">
        <div class="row">
            <h2>Солобуева Анна Андреевна <br> главный врач Normocard Clinic</h2>
            <div class="col-sm position-button">
                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Сведение о ВУЗе
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                       2011 год – окончила ФГБОУ ВО КемГМУ Минздрава РФ Лечебное дело.

                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Сведения об интернатуре/ординатуре
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        2011-2013 - Ординатура по специальности "Организация здравоохранения и общественное здоровье"
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Профессиональная переподготовка
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        С 2021 года – обучается в магистратуре по направлению «Экономика, учет и анализ»
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Профессиональная деятельность
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>2013-2020 год. Преподаватель КемГМУ. Ассистент кафедры общественного здоровья, здравоохранения и медицинской информатики.</p><br>

                        <p> С 2021 года по настоящее время – исполнительный директор компании производителя медицинского оборудования ООО «КИТ-сервис» . Компания специализируется на производстве комплексов многосуточного мониторирования ЭКГ с облачным решением ПО и успешно себя зарекомендовала на рынке медицинского производства РФ. Клиентами компании являются медицинские организации, образовательные медицинские учреждения и НИИ страны.</p>
                    </div>
                    </div>
            </div>

            <div class="col-sm">
                <img src="glav-vrach.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button">Записаться ко врачу</button>
            </div>

        </div>
    </div>
</section>



<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Отзывы</h3>
                    <p class="reviews">Никто ещё не оставлял отзывов об этом враче.</p>
                </div>

                <div class="col-sm">
					<button type="submit" class="reviews-button">Оставить отзыв</button>
                </div>

            </div>
        </div>
</section>

{{>footer}}