{{>preloader}}
<section class="section">
    <div class="container">
        <div class="row">
            <h2>Свинцова Елена Владимировна <br> Врач отделения Функциональной диагностики <br>
            Опыт работы 6 лет.</h2>
            <div class="col-sm position-button">
                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Сведение о ВУЗе
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                       Высшее, 2013 год окончания. Кемеровская государственная медицинская академия. Факультет педиатрический.

                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Сведения об интернатуре/ординатуре
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                       Педиатрия
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Профессиональная переподготовка
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        Функциональная диагностика
                    </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Профессиональная деятельность
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Врач отделения Функциональной диагностики ГБУЗ КО "КОККД им. акад. Л.С. Барбараша" с 2016 года.</p>

                        <p> С января 2020 года - заведующая отделения функциональной диагностики ГБУЗ КО "КОККД им. акад. Л.С. Барбараша", преподаватель медицинского колледжа, г. Кемерово.</p>
                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="sev.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button">Записаться ко врачу</button>
            </div>

        </div>
    </div>
</section>


<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Отзывы</h3>
                    <p class="reviews">Никто ещё не оставлял отзывов об этом враче.</p>
                </div>

                <div class="col-sm">
					<button type="submit" class="reviews-button">Оставить отзыв</button>
                </div>

            </div>
        </div>
</section>

{{>footer}}