{{>preloader}}

<section class="section-therapist-info">
    <div class="container">
        <h2 class="header-therapist-page-info">Приём терапевта</h2>
        <div class="row">
            <div class="col-sm">
                <p class="text-therapist-info">
                    Терапевт — это первый доктор, к которому обращаются при возникновении беспокоящих симптомов. 
                    У высококвалифицированного терапевта достаточно знаний и навыков, чтобы диагностировать и вылечить многие болезни. 
                    В то же время он не заменяет узконаправленных врачей,
                     поэтому при необходимости выписывает к ним направления.
                </p>

                <h3 class="header-therapist-info">При каких симптомах и состояниях рекомендовано обратиться к терапевту?</h3>
                    <ul class="text-therapist-info">
                        <li>
                            Боли в животе. Изжога, отрыжка, горечь во рту. Изменения вкуса. Изменения аппетита, расстройства стула, вздутие живота. Колебания веса.
                        </li>
                        <li>
                            Колебания артериального давления. Боли в грудной клетке, сердцебиение, перебои в работе сердца.
                        </li>
                        <li>
                            Нарушения сна. Изменение настроения. Одышка, снижение толерантности к физической нагрузке. Слабость, недомогание, снижение работоспособности. Головокружения. Сонливость.
                        </li>
                        <li>
                            Сухость кожи, выпадение волос. Потливость, раздражительность. Склонность к отекам.
                        </li>
                        <li>
                            Нарушение 	мочеиспускания, боли, рези при мочеиспускания, частое ночное мочеиспускание.
                        </li>
                    </ul>
                    <p class="text-therapist-info">А также:</p>
                    <ul class="text-therapist-info">
                        <li>
                            Разработка программы долголетия для мужчин и женщин по оценке терапевта.
                        </li>
                        <li>
                            Интерпретация лабораторных анализов.
                        </li>
                    </ul>
                    <h3 class="header-therapist-info">В Normocard Clinic с готовностью помогут пациентам с уже установленными заболеваниями, такими как:</h3>
                    <ul class="text-therapist-info">
                        <li>
                            Язвенная болезнь желудка и ДПК.
                        </li>
                        <li>
                            Хронические гастродуоденит и эзофагит.
                        </li>
                        <li>
                            Хронические колит и энтерит.
                        </li>
                        <li>
                            Бронхиальная астма и анемии.
                        </li>
                        <li>
                            Патология щитовидной железы: узловой зоб, гипотиреоз, гипертиреоз.
                        </li>
                        <li>
                            Хронические пиелонефрит и цистит.
                        </li>
                        <li>
                            Гиперурикемия, хронический гломерулонефрит и др.
                        </li>
                    </ul>
                    <h3 class="header-therapist-info">Как проходит приём терапевта</h3>
                    <ul class="text-therapist-info">
                        <li>
                            Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов. Выполнение объективного осмотра пациента.
                        </li>
                        <li>
                            Прослушивание фазы вдоха и выдоха. Проведение функциональных проб (с физической нагрузкой).
                        </li>
                        <li>
                            Изучение насыщения кислорода, характеристик пульса, аускультация тонов сердца, измерения артериального давления.
                        </li>
                        <li>
                            Пальпация живота, измерение размеров печени, определение пузырных симптомов, пальпация кишечника.
                        </li>
                        <li>
                            Установка предварительного либо окончательного 	диагноза, формирование дальнейшего плана обследования, лечения и телемедицинского 	наблюдения.
                        </li>
                        <li>
                            Информирование пациента о состоянии здоровья, диагнозе, необходимости выполнения диагностических процедур. Обсуждение 	лечения, его эффектов и возможных нежелательных реакций терапии.
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>
{{>footer}}